appnope==0.1.4
asttokens==2.4.1
beautifulsoup4==4.12.3
brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
comm==0.2.2
debugpy==1.8.6
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
idna==3.10
inflate64==1.0.0
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
jedi==0.19.1
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-widgets==3.0.13
lxml==5.3.0
matplotlib-inline==0.1.7
multivolumefile==0.2.3
nest-asyncio==1.6.0
numpy==2.0.2
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pip==24.2
platformdirs==4.3.6
prompt-toolkit==3.0.48
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py7zr==0.22.0
pyarrow==17.0.0
pybcj==1.0.2
pycryptodomex==3.21.0
pygments==2.18.0
pyppmd==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
pyzstd==0.16.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
texttable==1.7.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
widgetsnbextension==4.0.13
